<div id="ChangePasswordModals" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="ChangePasswordForm" class="k-form k-form-vertical" data-role="validator" novalidate="novalidate">
        <div class="modal-dialog modal-l">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="col-sm-5 control-label mandatory" style="text-align: right; margin-bottom: 25px;">NRP : </label>
                                    <div class="col-sm-5">
                                        <label style="width:100%;">@Html.Raw(ViewBag.NRP)</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-5 control-label mandatory" style="text-align: right; margin-bottom: 25px;">Current Password : </label>
                                    <div class="col-sm-5">
                                        <input style="width:100%;" id="currentPass" type="password" name="Current Pass" class="form-control"
                                               data-bind="value: currentPass" required />
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-5 control-label mandatory" style="text-align: right; margin-bottom: 25px;">New Password : </label>
                                    <div class="col-sm-5">
                                        <input style="width:100%;" id="newPass" type="password" name="New Pass" class="form-control"
                                               data-bind="value: newPass" required />
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-5 control-label mandatory" style="text-align: right; margin-bottom: 25px;">Re-Type Password : </label>
                                    <div class="col-sm-5">
                                        <input style="width:100%;" id="retypePass" type="password" name="Confirm Pass" class="form-control"
                                               data-bind="value: retypePass" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bind="click:savePassword, text: isNew ? 'Save' : 'Update'">Save changes</button>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>

    <script>
        $(function () {
            var container = $("#ChangePasswordForm");

            kendo.init(container);

            container.kendoValidator({
                rules: {
                    greaterdate: function (input) {
                        if (input.is("[data-greaterdate-msg]") && input.val() != "") {
                            var date = kendo.parseDate(input.val()),
                                otherDate = kendo.parseDate($("[name='" + input.data("greaterdateField") + "']").val());
                            return otherDate == null || otherDate.getTime() < date.getTime();
                        }

                        return true;
                    }
                }
            });
        });
    </script>
</div>