@{
    ViewData["Title"] = "Home";
    ViewData["Menu"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <div class="wrapper" id="example">
        <div id="example">
        </div>
    </div>
</body>
</html>